.hero {
  text-align: center;
  font-size: 25px;
  font-family: Quicksand, sans-serif;
  background-image: url(../img/fondojapon.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh; }
  .hero h1 {
    text-decoration: underline; }
  .hero a {
    color: black;
    padding: 0 5px;
    text-decoration: none;
    transition: 1s; }
    .hero a:hover {
      background-color: #003800;
      color: white;
      border-radius: 10px;
      transform: scale(1.2); }

.pecho {
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "main aside"; }
  .pecho .mainindex {
    background-color: #19960cab;
    border-style: solid;
    border-left: #0b1f08;
    border-bottom: #0b1f08;
    border-right: #0b1f08;
    grid-area: main; }
    .pecho .mainindex .centro {
      padding-top: 15px;
      justify-content: center; }
      .pecho .mainindex .centro .somos {
        display: flex;
        justify-content: center; }
        .pecho .mainindex .centro .somos img {
          border: #0b1f08;
          border-style: solid; }
        .pecho .mainindex .centro .somos div {
          width: 350px; }
          .pecho .mainindex .centro .somos div h2 {
            font-size: 30px; }
          .pecho .mainindex .centro .somos div p {
            font-size: 20px; }
      .pecho .mainindex .centro .muestra {
        font-size: 22px; }
        .pecho .mainindex .centro .muestra h3 {
          font-size: 25px;
          text-align: center;
          text-decoration: underline;
          padding-bottom: 25px; }
      .pecho .mainindex .centro .galeria {
        display: grid;
        grid-template-columns: 300px 300px 300px;
        grid-template-rows: 300px 300px 300px;
        row-gap: 25px;
        column-gap: 25px;
        grid-auto-flow: row;
        grid-template-areas: "foto1 foto2 foto3" "foto1 foto4 foto4" "foto5 foto5 foto5";
        padding: 30px;
        justify-content: center; }
        .pecho .mainindex .centro .galeria .foto1 {
          grid-area: foto1;
          transition: 1s; }
          .pecho .mainindex .centro .galeria .foto1:hover {
            transform: scale(1.1); }
          .pecho .mainindex .centro .galeria .foto1 img {
            border: #0b1f08;
            border-style: solid; }
        .pecho .mainindex .centro .galeria .foto2 {
          grid-area: foto2;
          transition: 1s; }
          .pecho .mainindex .centro .galeria .foto2:hover {
            transform: scale(1.1); }
          .pecho .mainindex .centro .galeria .foto2 img {
            border: #0b1f08;
            border-style: solid; }
        .pecho .mainindex .centro .galeria .foto3 {
          grid-area: foto3;
          transition: 1s; }
          .pecho .mainindex .centro .galeria .foto3:hover {
            transform: scale(1.1); }
          .pecho .mainindex .centro .galeria .foto3 img {
            border: #0b1f08;
            border-style: solid; }
        .pecho .mainindex .centro .galeria .foto4 {
          grid-area: foto4;
          transition: 1s; }
          .pecho .mainindex .centro .galeria .foto4:hover {
            transform: scale(1.1); }
          .pecho .mainindex .centro .galeria .foto4 img {
            border: #0b1f08;
            border-style: solid; }
        .pecho .mainindex .centro .galeria .foto5 {
          grid-area: foto5;
          transition: 1s; }
          .pecho .mainindex .centro .galeria .foto5:hover {
            transform: scale(1.1); }
          .pecho .mainindex .centro .galeria .foto5 img {
            border: #0b1f08;
            border-style: solid; }
  .pecho aside {
    grid-area: aside;
    padding-top: 15px;
    background-color: #22b112b9;
    border-style: solid;
    border-right: #0b1f08;
    border-bottom: none; }
    .pecho aside h3 {
      font-size: 25px;
      text-align: center;
      text-decoration: underline;
      padding-bottom: 25px; }
    .pecho aside .nombre {
      padding-left: 25px; }
    .pecho aside .email {
      padding-left: 25px; }
    .pecho aside contrasena {
      padding-left: 25px; }
    .pecho aside .genero {
      padding-left: 25px; }
    .pecho aside .datos {
      padding-top: 25px; }
      .pecho aside .datos h4 {
        text-align: center;
        text-decoration: underline; }
      .pecho aside .datos h5 {
        padding-top: 5px;
        text-align: center; }
      .pecho aside .datos span {
        padding-top: 25px; }

/*--ESPECIES--*/
div .especiesh1 {
  font-size: 50px;
  background-color: #19960cab;
  text-align: center;
  margin: 0px; }

main .carouselbox {
  display: flex;
  justify-content: center;
  background-color: #19960cab;
  border: #0b1f08;
  border-style: solid;
  padding: 25px; }

main .carouselexample .carousel-inner {
  width: 100px !important;
  height: auto !important; }

main .tallo1 {
  text-align: center;
  width: 800px; }
  main .tallo1 .tallo {
    text-decoration: underline;
    text-align: center;
    font-size: 35px; }
  main .tallo1 p {
    font-size: 22px; }

aside .galeriaespecies {
  background-color: #115f08ab;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 300px 300px 300px;
  row-gap: 25px;
  column-gap: 25px;
  grid-auto-flow: row;
  grid-template-areas: "especie1 especie2 especie2" "especie1 especie3 especie3" "especie4 especie3 especie3";
  padding: 30px;
  justify-content: center; }
  aside .galeriaespecies .especie1 {
    grid-area: especie1; }
    aside .galeriaespecies .especie1 h2 {
      position: absolute;
      display: block;
      background-color: rgba(128, 128, 128, 0.404); }
    aside .galeriaespecies .especie1 img {
      border: #0b1f08;
      border-style: solid; }
  aside .galeriaespecies .especie2 {
    grid-area: especie2; }
    aside .galeriaespecies .especie2 h2 {
      position: absolute;
      display: block;
      background-color: rgba(128, 128, 128, 0.404); }
    aside .galeriaespecies .especie2 img {
      border: #0b1f08;
      border-style: solid; }
  aside .galeriaespecies .especie3 {
    grid-area: especie3; }
    aside .galeriaespecies .especie3 h2 {
      position: absolute;
      display: block;
      background-color: rgba(128, 128, 128, 0.404); }
    aside .galeriaespecies .especie3 img {
      border: #0b1f08;
      border-style: solid; }
  aside .galeriaespecies .especie4 {
    grid-area: especie4; }
    aside .galeriaespecies .especie4 h2 {
      position: absolute;
      display: block;
      background-color: rgba(128, 128, 128, 0.404); }
    aside .galeriaespecies .especie4 img {
      border: #0b1f08;
      border-style: solid; }

main {
  border-bottom-style: solid; }
  main p {
    font-size: 25px;
    text-align: center;
    margin-bottom: 0px; }

.asideorigen {
  background-color: #84df84;
  margin-top: 0px; }
  .asideorigen h2 {
    text-align: center;
    text-decoration: underline; }
  .asideorigen h3 {
    text-align: center;
    text-shadow: -8px 8px 7px rgba(1, 123, 44, 0.7); }
  .asideorigen .origenimgp {
    display: flex;
    justify-content: space-around; }
    .asideorigen .origenimgp img {
      margin: 25px;
      transition: 1s;
      filter: blur(5px);
      -webkit-filter: blur(5px);
      -moz-filter: blur(5px);
      border: #0b1f08;
      border-style: solid;
      margin-bottom: 20px;
      box-shadow: -18px 19px 30px 0px rgba(5, 107, 3, 0.76);
      -webkit-box-shadow: -18px 19px 30px 0px rgba(5, 107, 3, 0.76);
      -moz-box-shadow: -18px 19px 30px 0px rgba(5, 107, 3, 0.76); }
      .asideorigen .origenimgp img:hover {
        transform: scale(1.1);
        filter: none; }
    .asideorigen .origenimgp p {
      font-size: 26px;
      text-align: center; }

main {
  background-color: #19960cab; }
  main .titulo h1 {
    text-decoration: underline;
    text-align: center; }
  main .imgcarrito {
    display: flex;
    justify-content: end; }
    main .imgcarrito .carrito {
      margin-right: 2px;
      border: #0b1f08 solid 2px;
      border-radius: 2px;
      background-image: url(../img/Carrito.png);
      background-repeat: no-repeat;
      background-size: cover;
      width: 40px;
      height: 40px; }
  main div .tarjetascompra1 {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    main div .tarjetascompra1 .tarjeta1,
    main div .tarjetascompra1 .tarjeta2,
    main div .tarjetascompra1 .tarjeta3 {
      display: flex;
      flex-direction: column;
      background-color: #84df84;
      padding: 15px;
      border: #0b1f08 solid 2px;
      margin: 25px;
      transition: 1s; }
      main div .tarjetascompra1 .tarjeta1:hover,
      main div .tarjetascompra1 .tarjeta2:hover,
      main div .tarjetascompra1 .tarjeta3:hover {
        transform: scale(1.1); }
      main div .tarjetascompra1 .tarjeta1 img,
      main div .tarjetascompra1 .tarjeta2 img,
      main div .tarjetascompra1 .tarjeta3 img {
        border: #0b1f08 solid 2px; }
      main div .tarjetascompra1 .tarjeta1 div,
      main div .tarjetascompra1 .tarjeta2 div,
      main div .tarjetascompra1 .tarjeta3 div {
        display: flex;
        flex-direction: row; }
        main div .tarjetascompra1 .tarjeta1 div a,
        main div .tarjetascompra1 .tarjeta2 div a,
        main div .tarjetascompra1 .tarjeta3 div a {
          text-align: center;
          text-decoration: none;
          font-size: 25px;
          margin-top: 6px;
          width: 150px; }
          main div .tarjetascompra1 .tarjeta1 div a:hover,
          main div .tarjetascompra1 .tarjeta2 div a:hover,
          main div .tarjetascompra1 .tarjeta3 div a:hover {
            border: #0b1f08 solid 2px;
            border-radius: 60px;
            margin-top: 2px; }
      main div .tarjetascompra1 .tarjeta1 h4,
      main div .tarjetascompra1 .tarjeta2 h4,
      main div .tarjetascompra1 .tarjeta3 h4 {
        text-align: center; }
  main div .tarjetascompra2 {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    main div .tarjetascompra2 .tarjeta4,
    main div .tarjetascompra2 .tarjeta5,
    main div .tarjetascompra2 .tarjeta6 {
      display: flex;
      flex-direction: column;
      background-color: #84df84;
      padding: 15px;
      border: #0b1f08 solid 2px;
      margin: 25px;
      transition: 1s; }
      main div .tarjetascompra2 .tarjeta4:hover,
      main div .tarjetascompra2 .tarjeta5:hover,
      main div .tarjetascompra2 .tarjeta6:hover {
        transform: scale(1.1); }
      main div .tarjetascompra2 .tarjeta4 img,
      main div .tarjetascompra2 .tarjeta5 img,
      main div .tarjetascompra2 .tarjeta6 img {
        border: #0b1f08 solid 2px; }
      main div .tarjetascompra2 .tarjeta4 div,
      main div .tarjetascompra2 .tarjeta5 div,
      main div .tarjetascompra2 .tarjeta6 div {
        display: flex;
        flex-direction: row; }
        main div .tarjetascompra2 .tarjeta4 div a,
        main div .tarjetascompra2 .tarjeta5 div a,
        main div .tarjetascompra2 .tarjeta6 div a {
          text-align: center;
          text-decoration: none;
          font-size: 25px;
          margin-top: 6px;
          width: 150px; }
          main div .tarjetascompra2 .tarjeta4 div a:hover,
          main div .tarjetascompra2 .tarjeta5 div a:hover,
          main div .tarjetascompra2 .tarjeta6 div a:hover {
            border: #0b1f08 solid 2px;
            border-radius: 60px;
            margin-top: 2px; }
      main div .tarjetascompra2 .tarjeta4 h4,
      main div .tarjetascompra2 .tarjeta5 h4,
      main div .tarjetascompra2 .tarjeta6 h4 {
        text-align: center; }
  main div .tarjetascompra3 {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    main div .tarjetascompra3 .tarjeta7,
    main div .tarjetascompra3 .tarjeta8,
    main div .tarjetascompra3 .tarjeta9 {
      display: flex;
      flex-direction: column;
      background-color: #84df84;
      padding: 15px;
      border: #0b1f08 solid 2px;
      margin: 25px;
      transition: 1s; }
      main div .tarjetascompra3 .tarjeta7:hover,
      main div .tarjetascompra3 .tarjeta8:hover,
      main div .tarjetascompra3 .tarjeta9:hover {
        transform: scale(1.1); }
      main div .tarjetascompra3 .tarjeta7 img,
      main div .tarjetascompra3 .tarjeta8 img,
      main div .tarjetascompra3 .tarjeta9 img {
        border: #0b1f08 solid 2px; }
      main div .tarjetascompra3 .tarjeta7 div,
      main div .tarjetascompra3 .tarjeta8 div,
      main div .tarjetascompra3 .tarjeta9 div {
        display: flex;
        flex-direction: row; }
        main div .tarjetascompra3 .tarjeta7 div a,
        main div .tarjetascompra3 .tarjeta8 div a,
        main div .tarjetascompra3 .tarjeta9 div a {
          text-align: center;
          text-decoration: none;
          font-size: 25px;
          margin-top: 6px;
          width: 150px; }
          main div .tarjetascompra3 .tarjeta7 div a:hover,
          main div .tarjetascompra3 .tarjeta8 div a:hover,
          main div .tarjetascompra3 .tarjeta9 div a:hover {
            border: #0b1f08 solid 2px;
            border-radius: 60px;
            margin-top: 2px; }
      main div .tarjetascompra3 .tarjeta7 h4,
      main div .tarjetascompra3 .tarjeta8 h4,
      main div .tarjetascompra3 .tarjeta9 h4 {
        text-align: center; }

main h1 {
  text-align: center;
  text-decoration: underline; }

main div .parrafo1 {
  text-align: center; }

main div .parimg {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  main div .parimg h3 {
    text-decoration: underline;
    text-shadow: 4px 4px 2px rgba(39, 95, 20, 0.6);
    text-align: center; }
  main div .parimg .parrafo2 {
    font-size: 25px;
    text-align: center; }

main .cultivofoto {
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "cultivofoto1 cultivotexto"; }
  main .cultivofoto img {
    margin-left: 5px;
    margin-top: 5px;
    border-color: #0b1f08;
    border-style: solid; }
  main .cultivofoto .cultivotexto h3 {
    text-decoration: underline;
    text-shadow: 4px 4px 2px rgba(39, 95, 20, 0.6);
    text-align: center; }
  main .cultivofoto .cultivotexto p {
    font-size: 25px;
    text-align: center; }

main .cultivo2 h2 {
  text-decoration: underline;
  text-shadow: 4px 4px 2px rgba(39, 95, 20, 0.6);
  text-align: center; }

main .cultivo2 p {
  font-size: 25px;
  text-align: center; }

main .parte3cul {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "hojastexto imghojas"; }
  main .parte3cul .hojastexto h3 {
    text-decoration: underline;
    text-shadow: 4px 4px 2px rgba(39, 95, 20, 0.6);
    text-align: center; }
  main .parte3cul .hojastexto p {
    text-align: center; }
  main .parte3cul .hojastexto .h3podado {
    text-decoration: underline;
    text-shadow: 4px 4px 2px rgba(39, 95, 20, 0.6);
    text-align: center; }
  main .parte3cul .hojastexto p {
    font-size: x-large; }
  main .parte3cul .imghojas img {
    margin-left: 5px;
    margin-top: 5px;
    border-color: #0b1f08;
    border-style: solid; }

main .cultivo3 {
  display: flex;
  justify-content: center; }
  main .cultivo3 img {
    margin: 5px;
    border-color: #0b1f08;
    border-style: solid; }
  main .cultivo3 .textocultivo {
    width: 800px; }
    main .cultivo3 .textocultivo h2 {
      text-decoration: underline;
      text-shadow: 4px 4px 2px rgba(39, 95, 20, 0.6);
      text-align: center; }
    main .cultivo3 .textocultivo p {
      text-align: center; }
    main .cultivo3 .textocultivo h3 {
      text-decoration: underline;
      text-shadow: 4px 4px 2px rgba(39, 95, 20, 0.6);
      text-align: center; }

header {
  background-color: #1a8014;
  border: #0b1f08;
  border-style: solid; }
  header nav {
    padding-top: 0px !important;
    padding-bottom: 0px !important; }
    header nav div {
      background-color: #13d60856 !important; }
      header nav div a:hover {
        background-color: #003800;
        color: white !important;
        border-radius: 10px !important; }
      header nav div div ul li {
        font-size: 25px;
        font-family: Quicksand, sans-serif;
        padding-left: 15px;
        padding-bottom: 15px;
        padding-top: 30px; }

footer {
  background-color: #1a8014;
  border: #0b1f08;
  border-style: solid;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 30px;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "footerlist footerlist footerimg footerimg" "footerlist footerlist footerimg footerimg" "footerlist footerlist footerimg footerimg" "footerp footerp footerp footerp"; }
  footer .footerlist {
    grid-area: footerlist;
    padding: 15px; }
    footer .footerlist ul {
      display: flex;
      justify-content: initial;
      list-style-type: none;
      align-items: center; }
      footer .footerlist ul li a {
        margin: 10px;
        color: black;
        padding: 15px;
        text-decoration: none;
        font-family: Quicksand, sans-serif;
        font-size: 20px; }
        footer .footerlist ul li a:hover {
          border-radius: 20px;
          border: #0b1f08;
          border-style: solid;
          background-color: #003800;
          color: white;
          font-family: Quicksand, sans-serif; }
  footer .footerimg {
    grid-area: footerimg;
    display: flex;
    justify-content: end;
    padding: 15px; }
    footer .footerimg img {
      border: #0b1f08;
      border-style: solid;
      display: block;
      position: relative;
      width: 300px; }
  footer .footerp {
    grid-area: footerp;
    text-align: center; }

@media screen and (max-width: 1490px) {
  .imghojas img {
    height: 600px;
    width: auto; }
  main .cultivo3 img {
    width: 600px;
    height: auto; }
  main .cultivofoto img {
    width: 400px;
    height: auto; } }

@media screen and (max-width: 1375px) {
  .carouselbox {
    display: flex;
    flex-direction: column; }
  .carousel-inner {
    width: 800px; }
  .asideorigen .origenimgp img {
    width: 300px;
    height: auto; } }

@media screen and (max-width: 1270px) {
  .cultivofoto img {
    width: 350px;
    height: auto; }
  main .cultivo3 {
    display: flex;
    flex-direction: column; }
  main .cultivo3 .cultivo3img {
    display: flex;
    justify-content: center; }
  main .cultivo3 .textocultivo {
    width: 100%; } }

@media screen and (max-width: 1200px) {
  .pecho .mainindex .centro .galeria {
    display: flex;
    flex-direction: column; }
  .foto5 img {
    width: 625px;
    height: auto; }
  .foto1 img {
    width: 300px;
    height: 425px; }
  .linklista {
    color: black;
    padding: 0 5px;
    text-decoration: none; }
  .imghojas img {
    height: 500px;
    width: auto; }
  main .cultivofoto {
    display: flex;
    flex-direction: column; }
  main .cultivofoto .cultivofoto1 {
    display: flex;
    justify-content: center; }
  main .parte3cul {
    display: flex;
    flex-direction: column; }
  main .parte3cul .imghojas {
    display: flex;
    justify-content: center; }
  .asideorigen .origenimgp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; } }

@media screen and (max-width: 1120px) {
  .tarjetas .tarjetascompra1 {
    display: flex;
    flex-direction: column;
    width: 380px; }
  .tarjetas .tarjetascompra2 {
    display: flex;
    flex-direction: column;
    width: 380px; }
  .tarjetas .tarjetascompra3 {
    display: flex;
    flex-direction: column;
    width: 380px; } }

@media screen and (max-width: 1050px) {
  .pecho aside .form div input {
    width: 150px; }
  aside .galeriaespecies {
    display: flex;
    flex-direction: column; } }

@media screen and (max-width: 955px) {
  .galeriaespecies {
    display: flex;
    flex-direction: column; } }

@media screen and (max-width: 900px) {
  .pecho aside .form div input {
    width: 100px; } }

@media screen and (max-width: 850px) {
  header {
    font-size: medium; }
  h1 {
    font-size: x-large; }
  main .carouselbox .tallo1 {
    width: 600px; } }

@media screen and (max-width: 835px) {
  .carousel-inner div img {
    width: 400px !important;
    height: 300px; }
  .carousel-inner {
    width: 400px !important;
    height: 300px !important; } }

@media screen and (max-width: 830px) {
  main .centro .somos {
    display: flex;
    flex-direction: column; }
  body .pecho {
    display: flex;
    flex-direction: column; } }

@media screen and (max-width: 820px) {
  .foto5 img {
    width: 500px;
    height: auto; }
  .foto4 img {
    width: 500px;
    height: auto; } }

@media screen and (max-width: 790px) {
  .foot {
    display: flex;
    flex-direction: column; } }

@media screen and (max-width: 690px) {
  .foot {
    display: flex;
    flex-direction: column; } }

@media screen and (max-width: 635px) {
  .especie2 img {
    width: 400px;
    height: auto; }
  .especie3 img {
    width: 400px;
    height: auto; }
  main .carouselbox .tallo1 {
    width: 400px; } }

@media screen and (max-width: 620px) {
  .lista {
    display: flex;
    flex-direction: column; } }

@media screen and (max-width: 535px) {
  .foto5 img {
    width: 300px;
    height: auto; }
  .foto4 img {
    width: 300px;
    height: auto; }
  .footerimg img {
    width: 200px;
    height: auto; }
  .footerlist ul {
    padding-left: 0px;
    display: flex;
    flex-direction: column; }
  .footerlist ul li {
    margin: 5px; }
  main .cultivo3 .cultivo3img img {
    width: 400px;
    height: auto; } }

@media screen and (max-width: 439px) {
  .especie1 img {
    width: 250px;
    height: auto; }
  .especie2 img {
    width: 250px;
    height: auto; }
  .especie3 img {
    width: 250px;
    height: auto; }
  .especie4 img {
    width: 250px;
    height: auto; }
  .carousel-inner div img {
    width: 300px !important;
    height: 200px; }
  .carousel-inner {
    width: 300px !important;
    height: 200px !important; }
  main .carouselbox .tallo1 {
    width: 250px; }
  main .cultivo3 .cultivo3img img {
    width: 300px;
    height: auto; }
  .imghojas img {
    height: 300px;
    width: auto; }
  main .cultivofoto img {
    width: 300px;
    height: auto; } }

@media screen and (max-width: 382px) {
  .footerlist ul li a {
    font-size: medium; }
  .pecho .mainindex .centro .somos img {
    width: 300px; } }

@media screen and (max-width: 380px) {
  .tarjetas .tarjetascompra1 {
    width: 300px; }
  .tarjetas .tarjetascompra1 .tarjeta1 {
    margin: 5px; }
  .tarjetas .tarjetascompra1 .tarjeta2 {
    margin: 5px; }
  .tarjetas .tarjetascompra1 .tarjeta3 {
    margin: 5px; }
  .tarjetas .tarjetascompra1 img {
    width: 250px;
    height: auto; }
  .tarjetas .tarjetascompra2 {
    width: 300px; }
  .tarjetas .tarjetascompra2 img {
    width: 250px;
    height: auto; }
  .tarjetas .tarjetascompra2 .tarjeta4 {
    margin: 5px; }
  .tarjetas .tarjetascompra2 .tarjeta5 {
    margin: 5px; }
  .tarjetas .tarjetascompra2 .tarjeta6 {
    margin: 5px; }
  .tarjetas .tarjetascompra3 {
    width: 300px; }
  .tarjetas .tarjetascompra3 img {
    width: 250px;
    height: auto; }
  .tarjetas .tarjetascompra3 .tarjeta7 {
    margin: 5px; }
  .tarjetas .tarjetascompra3 .tarjeta8 {
    margin: 5px; }
  .tarjetas .tarjetascompra3 .tarjeta9 {
    margin: 5px; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Quicksand, sans-serif;
  cursor: grab; }
