@import "./base/pages";
@import "./base/header";
@import "./base/footer";
@import "./base/mediaquery";

//! VARIABLES

$colorfondo: #19960cab;

@mixin tarjetacompra{
    display: flex;
    flex-direction: column;
    background-color: #84df84;
    padding: 15px;
    border: #0b1f08 solid 2px;
    margin: 25px;
    transition: 1s;
    color: black;
    }
    .box {
    @include tarjetacompra;
    }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Quicksand, sans-serif;
}

