@media screen and (max-width: 1490px) {
    .imghojas img {
        height: 600px;
        width: auto;
    }
    main .cultivo3 img{
        width: 600px;
        height: auto;
    }
    main .cultivofoto img{
        width: 400px;
        height: auto;
    }
}

@media screen and (max-width: 1375px) {
    .carouselbox {
        display: flex;
        flex-direction: column;
    }

    .carousel-inner {
        width: 800px;
    }
}

@media screen and (max-width: 1270px) {
.cultivofoto img{
    width: 350px;
    height: auto;
}

main .cultivo3{
    display: flex;
    flex-direction: column;
}

main .cultivo3 .cultivo3img {
    display: flex;
    justify-content: center;
}

main .cultivo3 .textocultivo{
    width: 100%;
}
}

@media screen and (max-width: 1200px) {
    .pecho .mainindex .centro .galeria {
        display: flex;
        flex-direction: column;
    }

    .foto5 img {
        width: 625px;
        height: auto;
    }

    .foto1 img {
        width: auto;
        height: 425px;
    }

    .linklista {
        color: black;
        padding: 0 5px;
        text-decoration: none;
    }

    .imghojas img {
        height: 500px;
        width: auto;
    }

    main .cultivofoto {
        display: flex;
        flex-direction: column;
    }
    main .cultivofoto .cultivofoto1{
        display: flex;
        justify-content: center;
    }

    main .parte3cul{
        display: flex;
        flex-direction: column;
    }

    main .parte3cul .imghojas{
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width:1120px) {
    .tarjetas .tarjetascompra1 {
        display: flex;
        flex-direction: column;
        width: 380px;
    }

    .tarjetas .tarjetascompra2 {
        display: flex;
        flex-direction: column;
        width: 380px;
    }

    .tarjetas .tarjetascompra3 {
        display: flex;
        flex-direction: column;
        width: 380px;
    }
}

@media screen and (max-width:1050px) {

    .pecho aside .form div input {
        width: 150px;
    }

    aside .galeriaespecies {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 955px) {
    .galeriaespecies {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width:900px) {

    .pecho aside .form div input {
        width: 100px;
    }
}


@media screen and (max-width:850px) {
    header {
        font-size: medium;
    }

    h1 {
        font-size: x-large;
    }

    main .carouselbox .tallo1 {
        width: 600px;
    }
}

@media screen and (max-width: 835px) {
    .carousel-inner div img {
        width: 400px !important;
        height: 300px;
    }

    .carousel-inner {
        width: 400px !important;
        height: 300px !important;
    }
}

@media screen and (max-width: 830px) {
    main .centro .somos {
        display: flex;
        flex-direction: column;
    }

    body .pecho {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 820px) {
    .foto5 img {
        width: 500px;
        height: auto;
    }

    .foto4 img {
        width: 500px;
        height: auto;
    }
}

@media screen and (max-width: 690px) {
    .foot {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 635px) {
    .especie2 img {
        width: 400px;
        height: auto;
    }

    .especie3 img {
        width: 400px;
        height: auto;
    }

    main .carouselbox .tallo1 {
        width: 400px;
    }
}

@media screen and (max-width: 620px) {
    .lista {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 535px) {
    .foto5 img {
        width: 300px;
        height: auto;
    }

    .foto4 img {
        width: 300px;
        height: auto;
    }

    .footerimg img {
        width: 200px;
        height: auto;
    }

    .footerlist ul {
        padding-left: 0px;
        display: flex;
        flex-direction: column;
    }

    .footerlist ul li {
        margin: 5px;
    }

    main .cultivo3 .cultivo3img img {
        width: 400px;
        height: auto;
    }
}

@media screen and (max-width: 439px) {
    .especie1 img {
        width: 250px;
        height: auto;
    }

    .especie2 img {
        width: 250px;
        height: auto;
    }

    .especie3 img {
        width: 250px;
        height: auto;
    }

    .especie4 img {
        width: 250px;
        height: auto;
    }

    .carousel-inner div img {
        width: 300px !important;
        height: 200px;
    }

    .carousel-inner {
        width: 300px !important;
        height: 200px !important;
    }

    main .carouselbox .tallo1 {
        width: 250px;
    }

    main .cultivo3 .cultivo3img img {
        width: 300px;
        height: auto;
    }

    .imghojas img {
        height: 300px;
        width: auto;
    }

    main .cultivofoto img {
        width: 300px;
        height: auto;
    }
}

@media screen and (max-width: 382px) {
    .footerlist ul li a {
        font-size: medium;
    }

    .pecho .mainindex .centro .somos img {
        width: 300px;
    }
}

@media screen and (max-width: 380px) {
    .tarjetas .tarjetascompra1 {
        width: 300px;
    }

    .tarjetas .tarjetascompra1 .tarjeta1 {
        margin: 5px;
    }

    .tarjetas .tarjetascompra1 .tarjeta2 {
        margin: 5px;
    }

    .tarjetas .tarjetascompra1 .tarjeta3 {
        margin: 5px;
    }

    .tarjetas .tarjetascompra1 img {
        width: 250px;
        height: auto;
    }

    .tarjetas .tarjetascompra2 {
        width: 300px;
    }

    .tarjetas .tarjetascompra2 img {
        width: 250px;
        height: auto;
    }

    .tarjetas .tarjetascompra2 .tarjeta4 {
        margin: 5px;
    }

    .tarjetas .tarjetascompra2 .tarjeta5 {
        margin: 5px;
    }

    .tarjetas .tarjetascompra2 .tarjeta6 {
        margin: 5px;
    }

    .tarjetas .tarjetascompra3 {
        width: 300px;
    }

    .tarjetas .tarjetascompra3 img {
        width: 250px;
        height: auto;
    }

    .tarjetas .tarjetascompra3 .tarjeta7 {
        margin: 5px;
    }

    .tarjetas .tarjetascompra3 .tarjeta8 {
        margin: 5px;
    }

    .tarjetas .tarjetascompra3 .tarjeta9 {
        margin: 5px;
    }
}