$colorfondo: #19960cab;

@mixin tarjetacompra{
    display: flex;
    flex-direction: column;
    background-color: #84df84;
    padding: 15px;
    border: #0b1f08 solid 2px;
    margin: 25px;
    transition: 1s;
    color: black;
    }
    .box {
    @include tarjetacompra;
    }

.hero {
    text-align: center;
    font-size: 25px;
    font-family: Quicksand, sans-serif;
    background-image: url(../img/fondojapon.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

    h1 {
        text-decoration: underline;
    }

    a {
        color: black;
        padding: 0 5px;
        text-decoration: none;
        transition: 1s;

        &:hover {
            background-color: #003800;
            color: rgb(255, 255, 255);
            border-radius: 10px;
            transform: scale(1.2);
        }
    }
}

.pecho {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "main aside";

    .mainindex {
        background-color: $colorfondo;
        border-style: solid;
        border-left: #0b1f08;
        border-bottom: #0b1f08;
        border-right: #0b1f08;
        grid-area: main;

        .centro {
            padding-top: 15px;
            justify-content: center;

            .somos {
                display: flex;
                justify-content: center;

                img {
                    border: #0b1f08;
                    border-style: solid;
                }

                div {
                    width: 350px;

                    h2 {
                        font-size: 30px;
                        text-align: center;
                    }

                    p {
                        font-size: 20px;
                    }
                }
            }

            .muestra {
                font-size: 22px;
                margin-top: 20px;
                h3 {
                    font-size: 25px;
                    text-align: center;
                    text-decoration: underline;
                    padding-bottom: 25px;
                }
            }

            .galeria {
                display: grid;
                grid-template-columns: 300px 300px 300px;
                grid-template-rows: 300px 300px 300px;
                row-gap: 25px;
                column-gap: 25px;
                grid-auto-flow: row;
                grid-template-areas:
                    "foto1 foto2 foto3"
                    "foto1 foto4 foto4"
                    "foto5 foto5 foto5";
                padding: 30px;
                justify-content: center;

                .foto1 {
                    grid-area: foto1;
                    transition: 1s;

                    &:hover {
                        transform: scale(1.1);
                        cursor: grab;
                    }
                    img {
                        border: #0b1f08;
                        border-style: solid;
                    }
                }

                .foto2 {
                    grid-area: foto2;
                    transition: 1s;

                    &:hover {
                        transform: scale(1.1);
                        cursor: grab;
                    }
                    img {
                        border: #0b1f08;
                        border-style: solid;
                    }
                }

                .foto3 {
                    grid-area: foto3;
                    transition: 1s;

                    &:hover {
                        transform: scale(1.1);
                        cursor: grab;
                    }
                    img {
                        border: #0b1f08;
                        border-style: solid;
                    }
                }

                .foto4 {
                    grid-area: foto4;
                    transition: 1s;

                    &:hover {
                        transform: scale(1.1);
                        cursor: grab;
                    }
                    img {
                        border: #0b1f08;
                        border-style: solid;
                    }
                }

                .foto5 {
                    grid-area: foto5;
                    transition: 1s;

                    &:hover {
                        transform: scale(1.1);
                        cursor: grab;
                    }
                    img {
                        border: #0b1f08;
                        border-style: solid;
                    }
                }
            }
        }
    }

    aside {
        grid-area: aside;
        padding-top: 15px;
        background-color: #22b112b9;
        border-style: solid;
        border-right: #0b1f08;
        border-bottom: none;

        h3 {
            font-size: 25px;
            text-align: center;
            text-decoration: underline;
            padding-bottom: 25px;
        }

        .nombre {
            padding-left: 25px;
            margin: 20px;
        }

        .email {
            padding-left: 25px;
            margin: 12px;
        }

        .contrasena {
            padding-left: 25px;
            margin: 20px;
        }

        .genero {
            padding-left: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .datos {
            padding-top: 25px;
            margin: 20px;
            h4 {
                text-align: center;
                text-decoration: underline;
                margin: 25px;
            }
            h5 {
                padding-top: 15px;
                text-align: center;
            }
            span {
                margin-top: 35px;
            }
        }
    }
}


/*--ESPECIES--*/


div {
    .especiesh1 {
        font-size: 50px;
        background-color: $colorfondo;
        text-align: center;
        margin: 0px;
    }
}


main {
    .carouselbox {
        display: flex;
        justify-content: center;
        background-color: $colorfondo;
        border: #0b1f08;
        border-style: solid;
        padding: 25px;
    }

    .carouselexample {margin: 15px !important;
        .carousel-inner {
            width: 100px !important;
            height: auto !important;
        }
    }

    .tallo1 {
        text-align: center;
        width: 800px;
        margin: 15px;
        .tallo {
            text-decoration: underline;
            text-align: center;
            font-size: 35px;
        }

        p {
            font-size: 22px;
        }
    }
}

aside {
    .galeriaespecies {
        background-color: #115f08ab;
        display: grid;
        grid-template-columns: 300px 300px 300px;
        grid-template-rows: 300px 300px 300px;
        row-gap: 25px;
        column-gap: 25px;
        grid-auto-flow: row;
        grid-template-areas:
            "especie1 especie2 especie2"
            "especie1 especie3 especie3"
            "especie4 especie3 especie3";
        padding: 30px;
        justify-content: center;

        .especie1 {
            grid-area: especie1;

            h2 {
                position: absolute;
                display: block;
                background-color: rgba(128, 128, 128, 0.404);
            }

            img {
                border: #0b1f08;
                border-style: solid;
            }
        }

        .especie2 {
            grid-area: especie2;

            h2 {
                position: absolute;
                display: block;
                background-color: rgba(128, 128, 128, 0.404);
            }

            img {
                border: #0b1f08;
                border-style: solid;
            }
        }

        .especie3 {
            grid-area: especie3;

            h2 {
                position: absolute;
                display: block;
                background-color: rgba(128, 128, 128, 0.404);
            }

            img {
                border: #0b1f08;
                border-style: solid;
            }
        }

        .especie4 {
            grid-area: especie4;

            h2 {
                position: absolute;
                display: block;
                background-color: rgba(128, 128, 128, 0.404);
            }

            img {
                border: #0b1f08;
                border-style: solid;
            }
        }
    }
}

//! Origen

main {
    border-bottom-style: solid;
    h1{
        margin-bottom: 50px;
    }
    p {
        font-size: 25px;
        text-align: center;
        margin-bottom: 50px;
        margin-left: 40px;
        margin-right: 40px;
    }
}

.asideorigen {
    background-color: #84df84;
    margin-top: 0px;
    h2 {
        text-align: center;
        text-decoration: underline;
    }

    h3 {
        text-align: center;
        text-shadow: -8px 8px 7px rgba(1,123,44,0.7);
    }

    .origenimgp {display: flex;
        justify-content: space-around;
        padding-bottom: 40px;
                img {
                    margin-left: 50px;
                    transition: 1s;
                    filter: blur(5px);
                    -webkit-filter: blur(5px);
                    -moz-filter: blur(5px);
                    &:hover {
                        transform: scale(1.1);
                        filter: none;
                        cursor: grab;
                    }
            border: #0b1f08;
            border-style: solid;
            margin-bottom: 20px;
            box-shadow: -18px 19px 30px 0px rgba(5,107,3,0.76);
-webkit-box-shadow: -18px 19px 30px 0px rgba(5,107,3,0.76);
-moz-box-shadow: -18px 19px 30px 0px rgba(5,107,3,0.76);
        }
        p {
            font-size: 26px;
            text-align: center;
            margin: 40px;
        }
    }
}

//! Comprar

main {
    background-color: $colorfondo;
    .titulo {
        h1 {
            text-decoration: underline;
            text-align: center;
            padding: 40px;
        }
    }

    .imgcarrito {
        display: flex;
        justify-content: end;
        margin-right: 40px;
        .carrito {
            margin-right: 2px;
            border: #0b1f08 solid 2px;
            border-radius: 2px;
            background-image: url(../img/Carrito.png);
            background-repeat: no-repeat;
            background-size: cover;
            width: 40px;
            height: 40px;
        }
    }

    div {
        .tarjetascompra1 {
            display: flex;
            flex-direction: row;
            justify-content: center;

            .tarjeta1,
            .tarjeta2,
            .tarjeta3 {
                @include tarjetacompra;
                &:hover {
                    transform: scale(1.1);
                    cursor: grab;
                }

                img {
                    border: #0b1f08 solid 2px
                }

                div {
                    display: flex;
                    flex-direction: row;

                    a {
                        text-align: center;
                        text-decoration: none;
                        font-size: 25px;
                        margin-top: 6px;
                        width: 150px;
                        color: black;
                        &:hover {
                            border: #0b1f08 solid 2px;
                            border-radius: 60px;
                            margin-top: 2px;
                            background-color: black;
                            color: white;
                        }
                    }
                }

                h4 {
                    text-align: center;
                }
            }
        }

        .tarjetascompra2 {
            display: flex;
            flex-direction: row;
            justify-content: center;

            .tarjeta4,
            .tarjeta5,
            .tarjeta6 {
                @include tarjetacompra;
                &:hover {
                    transform: scale(1.1);
                    cursor: grab;
                }

                img {
                    border: #0b1f08 solid 2px
                }

                div {
                    display: flex;
                    flex-direction: row;

                    a {
                        text-align: center;
                        text-decoration: none;
                        font-size: 25px;
                        margin-top: 6px;
                        width: 150px;
                        color: black;
                        &:hover {
                            border: #0b1f08 solid 2px;
                            border-radius: 60px;
                            margin-top: 2px;
                            background-color: black;
                            color: white;
                        }
                    }
                }

                h4 {
                    text-align: center;
                }
            }
        }

        .tarjetascompra3 {
            display: flex;
            flex-direction: row;
            justify-content: center;

            .tarjeta7,
            .tarjeta8,
            .tarjeta9 {
                @include tarjetacompra;
                &:hover {
                    transform: scale(1.1);
                    cursor: grab;
                }

                img {
                    border: #0b1f08 solid 2px
                }

                div {
                    display: flex;
                    flex-direction: row;

                    a {
                        text-align: center;
                        text-decoration: none;
                        font-size: 25px;
                        margin-top: 6px;
                        width: 150px;
                        color: black;
                        &:hover {
                            border: #0b1f08 solid 2px;
                            border-radius: 60px;
                            margin-top: 2px;
                            background-color: black;
                            color: white;
                        }
                    }
                }

                h4 {
                    text-align: center;
                }
            }
        }
    }
}

//!------CULTIVO

main {
    h1 {
        text-align: center;
        text-decoration: underline;
    }

    div {
        .parrafo1 {
            text-align: center;
            margin-left: 40px;
            margin-right: 40px;
            padding-bottom: 50px;
        }

        .parimg {
            display: flex;
            flex-direction: column;
            justify-content: center;

            h3 {
                text-decoration: underline;
                text-shadow: 4px 4px 2px rgba(39, 95, 20, 0.6);
                text-align: center;
            }

            .parrafo2 {
                font-size: 25px;
                text-align: center;
                margin-left: 40px;
                margin-right: 40px;
                padding-bottom: 50px;
            }
        }
    }

    .cultivofoto {
        display: grid;
        grid-template-columns: 35% 65%;
        grid-template-rows: 1fr;
        gap: 0px 0px;
        margin-left: 50px;
        margin-top: 50px;
        grid-template-areas:
            "cultivofoto1 cultivotexto";

        img {
            margin-left: 5px;
            margin-top: 5px;
            border-color: #0b1f08;
            border-style: solid;
        }

        .cultivotexto {
            h3 {
                text-decoration: underline;
                text-shadow: 4px 4px 2px rgba(39, 95, 20, 0.6);
                text-align: center;
            }

            p {
                font-size: 25px;
                text-align: center;
                margin-right: 40px;
                margin-left: 40px;
                padding-bottom: 50px;
            }
        }
    }

    .cultivo2 {
        h2 {
            text-decoration: underline;
            text-shadow: 4px 4px 2px rgba(39, 95, 20, 0.6);
            text-align: center;
            padding-bottom: 30px;
        }

        p {
            font-size: 25px;
            text-align: center;
            margin-bottom: 40px;
        }
    }

    .parte3cul {


        .hojastexto {
                display: flex;
                div{
                    h3 {
                        text-decoration: underline;
                        text-shadow: 4px 4px 2px rgba(39, 95, 20, 0.6);
                        text-align: center;
                    }
        
                    p {
                        text-align: center;
                    }
        
                    .h3podado {
                        text-decoration: underline;
                        text-shadow: 4px 4px 2px rgba(39, 95, 20, 0.6);
                        text-align: center;
                    }
        
                    p {
                        font-size: x-large;
        
                    }

                }
        }

        .imghojas {
            display: flex;
            justify-content: center;
            img {
                margin-left: 5px;
                margin-top: 5px;
                border-color: #0b1f08;
                border-style: solid;
            }
        }
    }

    .cultivo3 {
        display: flex;
        justify-content: center;

        img {
            margin: 5px;
            border-color: #0b1f08;
            border-style: solid;
        }

        .textocultivo {
            width: 800px;

            h2 {
                text-decoration: underline;
                text-shadow: 4px 4px 2px rgba(39, 95, 20, 0.6);
                text-align: center;
            }

            p {
                text-align: center;
            }


            h3 {
                text-decoration: underline;
                text-shadow: 4px 4px 2px rgba(39, 95, 20, 0.6);
                text-align: center;
            }
        }
    }
}